/* Hooks button */
.button {
  cursor: pointer;
  display: block;
  font-size: 1.3em;
  box-sizing: content-box;
  margin: 20px auto 0px;
  width: 70%;
  min-width: 285px;
  max-width: 360px;
  padding: 15px 20px;
  border-radius: 24px;
  border-color: transparent;
  background-color: white;
  box-shadow: 2px 2px 16px 4px rgba(72, 36, 36, 0.1);
  position: relative;
}

.buttonText {
  color: #4285f4;
  font-weight: bolder;
}

.icon {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  position: absolute;
  left: 30px;
  align-items: center;
}
